<html>
  <head>
    <title>BuildingBlok JS Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="src/cache_queue.js"></script>
    <script type="text/javascript">
      setInterval(function(){
        cacheQueue.updateRecordCount();
      }, 100);

      setInterval(function(){
        cacheQueue.processQueue();
      },5000)

      //
      // Form handler with Angular
      //
      angular.module('formExample', [])
        .controller('ExampleController', ['$scope', function($scope) {
          $scope.master = {};

          $scope.save = function(record) {
            cacheQueue.saveRecord(record)
          };
        }]);
    </script>
  </head>
  <body ng-app="formExample">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <div ng-controller="ExampleController">
              <form novalidate class="simple-form">
                <div class="form-group">
                  <label>Country</label>
                  <input type="email" ng-model="record.country" class="form-control" />
                </div>
                <button type="submit" ng-click="save(record)" value="Save" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <div ng-controller="ExampleController">
              <form novalidate class="simple-form">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" ng-model="record.name" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" ng-model="record.email" class="form-control" />
                </div>
                <button type="submit" ng-click="save(record)" value="Save" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1>Status:
            <span id="status" class="label label-success">Online</span>
          </h1>
          <br>
          <button onclick="cacheQueue.toggleOffline()" class="btn btn-default">Toggle Offline</button>
        </div>
        <div class="col-md-6">
          <h1>
            Saved:
            <span id="saved-count">-</span>
          </p>
          <h1>
            Queued:
            <span id="queued-count">-</span>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p>
            <a href="SpecRunner.html">Jasmine Specs</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
